@import '../../../../../../libs/soom-styles/src/lib/soom-styles.module.scss';

.soom-eifu-dashboard-page {
  font-family: $fontFamily !important;
  margin-top: rem(20px);
  margin-left: rem(250px);
  min-height: rem(650px);
  width: 82%;
}

.soom-eifu-link {
  text-decoration: underline;
  &:link {
    color: blue;
  }
  &:active {
    color: blue;
  }
  &:visited {
    color: purple;
  }
}

.soom-eifu-dashboard-table-header {
  background: $table-header-color !important;
}

.soom-eifu-dashboard-switch-label {
  font-size: rem(15px);
}
