@import '../../../libs/soom-styles/src/lib/soom-styles.module.scss';
.pass_protect_heading {
  background: $soom-portal-profile-heading !important;
  margin: 2% !important;
  font-weight: bold;
}

.pass_protect_heading_background {
  background: $soom-portal-profile-heading !important;
}
