@import '../../../../../soom-styles/src/lib/soom-styles.module.scss';
.search__container {
  font-family: $fontFamily;
}

.search__field {
  font-family: $fontFamily;
}

.search__button {
  font-family: $fontFamily;
}
