@import '../../../../../../../libs/soom-styles/src/lib/soom-styles.module.scss';

.form-step {
  display: flex;
  flex-direction: column;
  padding-top: rem(30px);
  padding-left: rem(20px);
  padding-right: rem(20px);
}

.soom-dashboard-dropzone {
  min-height: rem(85px) !important;
}

.dropzone-text {
  font-size: rem(18px) !important;
}

.grid_row__passed {
  color: $soom-multiupload-passed;
}

.grid_row__failed {
  color: $error-color;
}
