@import '../../../../libs/soom-styles/src/lib/soom-styles.module.scss';
.soom-webapp__detail-sidebar-docname {
  font-weight: bold;
  color: $secondary-color;
}

.soom-webapp__form-alert-container {
  padding-bottom: rem(16px);
}
